:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin-left: 40px;
  margin-right: 40px;
  min-height: 100%;
}

button {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.video-style {
  display: grid;
  justify-content: center;
  margin-top: 40px;
}